fastapi==0.120.4
langchain==0.3.27
langchain-openai==0.3.33
pdf2image==1.17.0
pillow==11.3.0
psycopg2-binary==2.9.11
pydantic==2.12.3
python-dotenv==1.1.1
requests==2.32.5
uvicorn==0.38.0


# pip list command to check the installed packages and the versions they have 